<div class= "menu-container">
<div class="row">

    <div class="col-12">
        <%= form_tag(search_path, method: "get",remote: true) do %>
            <div class="input-group mb-5">
                <div class="col-8" style="padding:1em">
                    <%= text_field_tag :search, '',class:'form-control',placeholder: 'Search for',onkeydown:'clickSubmit();'%>
                </div>
                <div class="col-4" style="padding:1em"> 
                    <%= select_tag "filter",options_for_select(['Select Filter','veg','available','catering','pizza']),class:'custom-select', onchange:'clickSubmit();'%>
                </div>
                <div class="col-2">
                    <%= submit_tag "search", class:'btn btn-dark',method: :post, id:'search_submit'%>
                </div>
            </div>
        <%  end %>
    </div>
</div>
</div>
<div id="menu-products-container">
    <%= render 'menu/products'%>
</div>
<script>
    function clickSubmit() {
        $("#search_submit").trigger("click");
    }
</script>